.img:hover{
    animation: bean-shake 0.7s ease-in-out 2 alternate;
}
.home_container{
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    margin: 100px auto;
}
.h1{
    color: var(--color);
    font-family: 'Lobster';
    font-size: 48px;
    margin: 50px 0;
    text-align: center;
}
.paragraph{
    color: var(--color);
    font-size: 20px;
    font-weight: 500;
}
@keyframes bean-shake {
    0%,
    100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
}